body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f2f2f2;
    caret-color: transparent;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: white;
}

.cell.x {
    color: red;
}

.cell.o {
    color: blue;
}

#winner {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    display: none;
    color: green;
    padding: 10px;
    border: 2px solid green;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 100; 
}

#currentPlayerDisplay {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}



